@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

    @import url("https://fonts.googleapis.com/css?family=Inter:400|Noto+Sans+HK:100|Roboto:400|Open+Sans:400,700");

    /* The following line is used to measure usage of this code. You can remove it if you want. */
    @import url("https://px.animaapp.com/6576d5f9df8c3c94cf99e647.6576d5fadf8c3c94cf99e64a.t41N4Mf.hch.png");





    .screen textarea:focus,
    .screen input:focus {
      outline: none;
    }

    .screen * {
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
    }

    .screen div {
      -webkit-text-size-adjust: none;
    }

    .component-wrapper a {
      display: contents;
      pointer-events: auto;
      text-decoration: none;
    }

    .component-wrapper * {
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      pointer-events: none;
    }

    .component-wrapper a *,
    .component-wrapper input,
    .component-wrapper video,
    .component-wrapper iframe {
      pointer-events: auto;
    }

    .component-wrapper.not-ready,
    .component-wrapper.not-ready * {
      visibility: hidden !important;
    }

    .screen a {
      display: contents;
      text-decoration: none;
    }

    .full-width-a {
      width: 100%;
    }

    .full-height-a {
      height: 100%;
    }

    .container-center-vertical {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 100%;
      pointer-events: none;
    }

    .container-center-vertical>* {
      flex-shrink: 0;
      pointer-events: auto;
    }

    .container-center-horizontal {
      display: flex;
      flex-direction: row;
      justify-content: center;
      pointer-events: none;
      width: 100%;
    }

    .container-center-horizontal>* {
      flex-shrink: 0;
      pointer-events: auto;
    }

    .auto-animated div {
      --z-index: -1;
      opacity: 0;
      position: absolute;
    }

    .auto-animated input {
      --z-index: -1;
      opacity: 0;
      position: absolute;
    }

    .auto-animated .container-center-vertical,
    .auto-animated .container-center-horizontal {
      opacity: 1;
    }

    .overlay-base {
      display: none;
      height: 100%;
      opacity: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }

    .overlay-base.animate-appear {
      align-items: center;
      animation: reveal 0.3s ease-in-out 1 normal forwards;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
    }

    .overlay-base.animate-disappear {
      animation: reveal 0.3s ease-in-out 1 reverse forwards;
      display: block;
      opacity: 1;
      pointer-events: none;
    }

    .overlay-base.animate-disappear * {
      pointer-events: none;
    }

    @keyframes reveal {
      from {
        opacity: 0
      }

      to {
        opacity: 1
      }
    }

    .animate-nodelay {
      animation-delay: 0s;
    }

    .align-self-flex-start {
      align-self: flex-start;
    }

    .align-self-flex-end {
      align-self: flex-end;
    }

    .align-self-flex-center {
      align-self: flex-center;
    }

    .valign-text-middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .valign-text-bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    input:focus {
      outline: none;
    }

    .listeners-active,
    .listeners-active * {
      pointer-events: auto;
    }

    .hidden,
    .hidden * {
      pointer-events: none;
      visibility: hidden;
    }

    .smart-layers-pointers,
    .smart-layers-pointers * {
      pointer-events: auto;
      visibility: visible;
    }

    .listeners-active-click,
    .listeners-active-click * {
      cursor: pointer;
    }

    * {
      box-sizing: border-box;
    }

    :root {
      --black: #000000;
      --blaze-orange: #ff6e00;
      --mine-shaft: #333333;
      --white: #ffffff;

      --font-size-l: 36px;
      --font-size-m: 18px;
      --font-size-s: 16px;
      --font-size-xs: 14px;
      --font-size-xxs: 12px;

      --font-family-inter: "Inter", Helvetica;
      --font-family-noto_sans_hk: "Noto Sans HK", Helvetica;
      --font-family-open_sans: "Open Sans", Helvetica;
      --font-family-roboto: "Roboto", Helvetica;
    }

    .notosanshk-thin-mine-shaft-14px {
      color: var(--mine-shaft);
      font-family: var(--font-family-noto_sans_hk);
      font-size: var(--font-size-xs);
      font-style: normal;
      font-weight: 100;
    }

    .inter-normal-black-18px {
      color: var(--black);
      font-family: var(--font-family-inter);
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 400;
    }

    .inter-normal-black-16px {
      color: var(--black);
      font-family: var(--font-family-inter);
      font-size: var(--font-size-s);
      font-style: normal;
      font-weight: 400;
    }

    :root {}


    .rectangle-2 {
      border: 2px solid;
      border-color: var(--blaze-orange);
      border-radius: 10px;
      height: 60px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 386px;
    }

    /* screen - sign-in */

    .sign-in {
      background-color: var(--white);
      height: 1024px;
      overflow: hidden;
      overflow-x: hidden;
      position: relative;
      width: 1440px;
    }

    /* .sign-in .navigation-5xOTHh {
      background-color: transparent;
      height: 134px;
      left: 0px;
      mix-blend-mode: normal;
      overflow: hidden;
      position: absolute;
      top: 0px;
      width: 1440px;
    }

    .sign-in .rectangle-6-JeWeft {
      background-color: #fafafa;
      height: 144px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 1440px;
    }

    .sign-in .blocal-logo-2-JeWeft {
      height: 74px;
      left: 59px;
      top: 30px;
      width: 112px;
    }

    .sign-in .home-JeWeft {
      background-color: transparent;
      height: 23px;
      left: 306px;
      letter-spacing: 0.00px;
      line-height: 23.4px;
      position: absolute;
      text-align: center;
      top: 54px;
      white-space: nowrap;
      width: auto;
    }

    .sign-in .products-JeWeft {
      background-color: transparent;
      height: 23px;
      left: 539px;
      letter-spacing: 0.00px;
      line-height: 23.4px;
      position: absolute;
      text-align: center;
      top: 55px;
      white-space: nowrap;
      width: auto;
    }

    .sign-in .about-us-JeWeft {
      background-color: transparent;
      height: 23px;
      left: 416px;
      letter-spacing: 0.00px;
      line-height: 23.4px;
      position: absolute;
      text-align: center;
      top: 55px;
      white-space: nowrap;
      width: auto;
    }

    .sign-in .cartbl-1-JeWeft {
      background-color: transparent;
      height: 37px;
      left: 1333px;
      object-fit: cover;
      position: absolute;
      top: 51px;
      width: 37px;
    }

    .sign-in .profileorange-1-JeWeft {
      background-color: transparent;
      height: 37px;
      left: 1269px;
      object-fit: cover;
      position: absolute;
      top: 51px;
      width: 37px;
    } */

    .sign-in .blocal-logo-2-5xOTHh {
      height: 372px;
      left: 720px;
      top: 319px;
      width: 601px;
    }

    .sign-in .title-5xOTHh {
      background-color: transparent;
      color: var(--black);
      font-family: var(--font-family-noto_sans_hk);
      font-size: var(--font-size-l);
      font-style: normal;
      font-weight: 100;
      height: 28px;
      left: 240px;
      letter-spacing: 0.00px;
      line-height: 58px;
      position: absolute;
      text-align: left;
      top: 244px;
      white-space: nowrap;
      width: 273px;
    }

    .sign-in .nice-to-see-you-again-5xOTHh {
      background-color: transparent;
      color: var(--mine-shaft);
      font-family: var(--font-family-roboto);
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 400;
      height: 12px;
      left: 240px;
      letter-spacing: 0.00px;
      line-height: 34px;
      opacity: 0.8;
      position: absolute;
      text-align: left;
      top: 292px;
      white-space: nowrap;
      width: 227px;
    }

    .sign-in .dont-have-an-account-5xOTHh {
      background-color: transparent;
      color: var(--mine-shaft);
      font-family: var(--font-family-open_sans);
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 400;
      height: 14px;
      left: 240px;
      letter-spacing: 0.00px;
      line-height: 34px;
      position: absolute;
      text-align: left;
      top: 744px;
      white-space: nowrap;
      width: 209px;
    }

    .sign-in .username-5xOTHh {
      background-color: transparent;
      color: var(--black);
      font-family: var(--font-family-roboto);
      font-size: var(--font-size-xxs);
      font-style: normal;
      font-weight: 400;
      height: 8px;
      left: 240px;
      letter-spacing: 0.00px;
      line-height: 24px;
      position: absolute;
      text-align: left;
      top: 350px;
      white-space: nowrap;
      width: 85px;
    }

    .sign-in .password-5xOTHh {
      background-color: transparent;
      color: var(--mine-shaft);
      font-family: var(--font-family-roboto);
      font-size: var(--font-size-xxs);
      font-style: normal;
      font-weight: 400;
      height: 8px;
      left: 240px;
      letter-spacing: 0.00px;
      line-height: 24px;
      position: absolute;
      text-align: left;
      top: 438px;
      white-space: nowrap;
      width: 91px;
    }

    /* .sign-in .rectangle-102-5xOTHh {
      background-color: transparent;
      border: 1px solid;
      border-color: var(--black);
      border-radius: 5px;
      height: 50px;
      left: 240px;
      opacity: 0.94;
      position: absolute;
      top: 369px;
      width: 386px;
    }

    .sign-in .rectangle-104-5xOTHh {
      background-color: transparent;
      border: 1px solid;
      border-color: var(--black);
      border-radius: 5px;
      height: 50px;
      left: 240px;
      position: absolute;
      top: 457px;
      width: 386px;
    }

    .sign-in .group-462-5xOTHh {
      background-color: transparent;
      height: 60px;
      left: 239px;
      position: absolute;
      top: 791px;
      width: 388px;
    }

    .sign-in .rectangle-2-1M6Nuv {
      background-color: transparent;
    } */

    .sign-in .sign-up-1M6Nuv {
      background-color: transparent;
      color: var(--blaze-orange);
      font-family: var(--font-family-open_sans);
      font-size: var(--font-size-xs);
      font-style: normal;
      font-weight: 700;
      height: 12px;
      left: 76px;
      letter-spacing: 0.00px;
      line-height: 28px;
      position: absolute;
      text-align: center;
      top: 24px;
      white-space: nowrap;
      width: 232px;
    }

    .sign-in .group-2-5xOTHh {
      background-color: transparent;
      height: 60px;
      left: 240px;
      position: absolute;
      top: 576px;
      width: 388px;
    }

    .sign-in .rectangle-2-AVhdT9 {
      background-color: var(--blaze-orange);
    }

    .sign-in .sign-in-AVhdT9 {
      background-color: transparent;
      color: var(--white);
      font-family: var(--font-family-open_sans);
      font-size: var(--font-size-xs);
      font-style: normal;
      font-weight: 700;
      height: 12px;
      left: 76px;
      letter-spacing: 0.00px;
      line-height: 28px;
      position: absolute;
      text-align: center;
      top: 24px;
      white-space: nowrap;
      width: 232px;
    }

    
    .sign-in .line-41-5xOTHh {
      background-color: transparent;
      height: 1px;
      left: 239px;
      object-fit: cover;
      position: absolute;
      top: 711px;
      width: 386px;
    }

    .sign-in .line-42-5xOTHh {
      background-color: transparent;
      height: 1px;
      left: 239px;
      object-fit: cover;
      position: absolute;
      top: 882px;
      width: 386px;
    }

    .sign-in .username-xVbfi5 {
      background-color: transparent;
      border: 0;
      height: 10px;
      left: 256px;
      letter-spacing: 0.00px;
      line-height: 24px;
      opacity: 0.6;
      padding: 0;
      position: absolute;
      resize: none;
      text-align: left;
      top: 388px;
      white-space: nowrap;
      width: 78px;
    }

    .sign-in .username-xVbfi5::placeholder {
      color: #33333399;
    }

    .sign-in .x-5xOTHh {
      background-color: transparent;
      border: 0;
      height: 10px;
      left: 254px;
      letter-spacing: 0.00px;
      line-height: 24px;
      opacity: 0.6;
      padding: 0;
      position: absolute;
      resize: none;
      text-align: left;
      top: 476px;
      white-space: nowrap;
      width: 78px;
    }

    .sign-in .x-5xOTHh::placeholder {
      color: #33333399;
    }

    .sign-in .blocal-logo-2 {
      background-color: transparent;
      object-fit: cover;
      position: absolute;
    }

    /* screen - sign-in-responsive */

    .sign-in-responsive {
      background-color: var(--white);
      height: 915px;
      overflow: hidden;
      overflow-x: hidden;
      position: relative;
      width: 768px;
    }

    /* .sign-in-responsive .navigation-lu2Fou {
      background-color: transparent;
      height: 83px;
      left: 0px;
      mix-blend-mode: normal;
      overflow: hidden;
      position: absolute;
      top: 0px;
      width: 768px;
    }

    .sign-in-responsive .rectangle-6-vaMoUJ {
      background-color: #fafafa;
      height: 144px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 1440px;
    }

    .sign-in-responsive .blocal-logo-2-vaMoUJ {
      background-color: transparent;
      height: 47px;
      left: 18px;
      object-fit: cover;
      position: absolute;
      top: 16px;
      width: 77px;
    }

    .sign-in-responsive .cartbl-1-vaMoUJ {
      height: 37px;
      left: 1333px;
      top: 51px;
      width: 37px;
    }

    .sign-in-responsive .profileorange-1-vaMoUJ {
      height: 37px;
      left: 1269px;
      top: 51px;
      width: 37px;
    }

    .sign-in-responsive .cartbl-1-XbSAMB {
      height: 28px;
      left: 706px;
      top: 23px;
      width: 28px;
    }

    .sign-in-responsive .profileorange-1-XbSAMB {
      height: 28px;
      left: 654px;
      top: 23px;
      width: 28px;
    }

    .sign-in-responsive .home-vaMoUJ {
      background-color: transparent;
      height: 21px;
      left: 151px;
      letter-spacing: 0.00px;
      line-height: 20.8px;
      position: absolute;
      text-align: center;
      top: 30px;
      white-space: nowrap;
      width: auto;
    }

    .sign-in-responsive .about-us-vaMoUJ {
      background-color: transparent;
      height: 21px;
      left: 233px;
      letter-spacing: 0.00px;
      line-height: 20.8px;
      position: absolute;
      text-align: center;
      top: 30px;
      white-space: nowrap;
      width: auto;
    }

    .sign-in-responsive .products-vaMoUJ {
      background-color: transparent;
      height: 21px;
      left: 340px;
      letter-spacing: 0.00px;
      line-height: 20.8px;
      position: absolute;
      text-align: center;
      top: 30px;
      white-space: nowrap;
      width: auto;
    } */

    .sign-in-responsive .title-lu2Fou {
      background-color: transparent;
      color: var(--black);
      font-family: var(--font-family-noto_sans_hk);
      font-size: var(--font-size-l);
      font-style: normal;
      font-weight: 100;
      height: 28px;
      left: 196px;
      letter-spacing: 0.00px;
      line-height: 58px;
      position: absolute;
      text-align: left;
      top: 137px;
      white-space: nowrap;
      width: 273px;
    }

    .sign-in-responsive .nice-to-see-you-again-lu2Fou {
      background-color: transparent;
      color: var(--mine-shaft);
      font-family: var(--font-family-roboto);
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 400;
      height: 12px;
      left: 196px;
      letter-spacing: 0.00px;
      line-height: 34px;
      opacity: 0.8;
      position: absolute;
      text-align: left;
      top: 185px;
      white-space: nowrap;
      width: 227px;
    }

    .sign-in-responsive .dont-have-an-account-lu2Fou {
      background-color: transparent;
      color: var(--mine-shaft);
      font-family: var(--font-family-open_sans);
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 400;
      height: 14px;
      left: 196px;
      letter-spacing: 0.00px;
      line-height: 34px;
      position: absolute;
      text-align: left;
      top: 641px;
      white-space: nowrap;
      width: 209px;
    }

    .sign-in-responsive .username-lu2Fou {
      background-color: transparent;
      color: var(--black);
      font-family: var(--font-family-roboto);
      font-size: var(--font-size-xxs);
      font-style: normal;
      font-weight: 400;
      height: 8px;
      left: 196px;
      letter-spacing: 0.00px;
      line-height: 24px;
      position: absolute;
      text-align: left;
      top: 243px;
      white-space: nowrap;
      width: 85px;
    }

    .sign-in-responsive .password-lu2Fou {
      background-color: transparent;
      color: var(--mine-shaft);
      font-family: var(--font-family-roboto);
      font-size: var(--font-size-xxs);
      font-style: normal;
      font-weight: 400;
      height: 8px;
      left: 196px;
      letter-spacing: 0.00px;
      line-height: 24px;
      position: absolute;
      text-align: left;
      top: 331px;
      white-space: nowrap;
      width: 91px;
    }

    .sign-in-responsive .rectangle-102-lu2Fou {
      background-color: transparent;
      border: 1px solid;
      border-color: var(--black);
      border-radius: 5px;
      height: 50px;
      left: 196px;
      opacity: 0.94;
      position: absolute;
      top: 262px;
      width: 386px;
    }

    .sign-in-responsive .rectangle-104-lu2Fou {
      background-color: transparent;
      border: 1px solid;
      border-color: var(--black);
      border-radius: 5px;
      height: 50px;
      left: 196px;
      position: absolute;
      top: 350px;
      width: 386px;
    }

    .sign-in-responsive .group-462-lu2Fou {
      background-color: transparent;
      height: 60px;
      left: 196px;
      position: absolute;
      top: 686px;
      width: 388px;
    }

    .sign-in-responsive .rectangle-2-5M4Gje {
      background-color: transparent;
    }

    .sign-in-responsive .sign-up-5M4Gje {
      background-color: transparent;
      color: var(--blaze-orange);
      font-family: var(--font-family-open_sans);
      font-size: var(--font-size-xs);
      font-style: normal;
      font-weight: 700;
      height: 12px;
      left: 76px;
      letter-spacing: 0.00px;
      line-height: 28px;
      position: absolute;
      text-align: center;
      top: 24px;
      white-space: nowrap;
      width: 232px;
    }

    .sign-in-responsive .group-2-lu2Fou {
      background-color: transparent;
      height: 60px;
      left: 196px;
      position: absolute;
      top: 439px;
      width: 388px;
    }

    .sign-in-responsive .rectangle-2-65tJEx {
      background-color: var(--blaze-orange);
    }

    .sign-in-responsive .sign-in-65tJEx {
      background-color: transparent;
      color: var(--white);
      font-family: var(--font-family-open_sans);
      font-size: var(--font-size-xs);
      font-style: normal;
      font-weight: 700;
      height: 12px;
      left: 76px;
      letter-spacing: 0.00px;
      line-height: 28px;
      position: absolute;
      text-align: center;
      top: 24px;
      white-space: nowrap;
      width: 232px;
    }

    .sign-in-responsive .forgot-password-lu2Fou {
      background-color: transparent;
      color: var(--black);
      font-family: var(--font-family-noto_sans_hk);
      font-size: var(--font-size-xs);
      font-style: normal;
      font-weight: 100;
      height: 12px;
      left: 273px;
      letter-spacing: 0.00px;
      line-height: 28px;
      position: absolute;
      text-align: center;
      top: 536px;
      white-space: nowrap;
      width: 232px;
    }

    .sign-in-responsive .line-41-lu2Fou {
      background-color: transparent;
      height: 1px;
      left: 191px;
      object-fit: cover;
      position: absolute;
      top: 592px;
      width: 386px;
    }

    .sign-in-responsive .line-42-lu2Fou {
      background-color: transparent;
      height: 1px;
      left: 195px;
      object-fit: cover;
      position: absolute;
      top: 775px;
      width: 386px;
    }

    .sign-in-responsive .username-mRXYhy {
      background-color: transparent;
      border: 0;
      height: 10px;
      left: 214px;
      letter-spacing: 0.00px;
      line-height: 24px;
      opacity: 0.6;
      padding: 0;
      position: absolute;
      resize: none;
      text-align: left;
      top: 281px;
      white-space: nowrap;
      width: 78px;
    }

    .sign-in-responsive .username-mRXYhy::placeholder {
      color: #33333399;
    }

    .sign-in-responsive .x-lu2Fou {
      background-color: transparent;
      border: 0;
      height: 10px;
      left: 214px;
      letter-spacing: 0.00px;
      line-height: 24px;
      opacity: 0.6;
      padding: 0;
      position: absolute;
      resize: none;
      text-align: left;
      top: 375px;
      white-space: nowrap;
      width: 78px;
    }

    .sign-in-responsive .x-lu2Fou::placeholder {
      color: #33333399;
    }

    .sign-in-responsive .cartbl-1 {
      background-color: transparent;
      object-fit: cover;
      position: absolute;
    }

    .sign-in-responsive .profileorange-1 {
      background-color: transparent;
      object-fit: cover;
      position: absolute;
    }

    @media screen and (max-width: 1439px) {
      .screen.sign-in {
        display: none;
      }
    }

    @media screen and (min-width: 1440px) {
      .screen.sign-in-responsive {
        display: none;
      }
    }